In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv")
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print(df.shape)

(16719, 16)

In [19]:
print(df["Platform"].unique())

['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' 'PS4' '3DS' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'WiiU' 'GC' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']

In [20]:
#What are the global sales per platform in the most recent year?

print(max(df["Year_of_Release"]))

2020.0

In [33]:
#sum up all global sales by platform
sales = 0

for lab, row in df.iterrows() : 
    if row["Platform"] == "Wii" :
        sales = sales + float(df["Global_Sales"])

print(sales)

TypeError: cannot convert the series to <class 'float'>

In [26]:
print(df[["Platform","Global_Sales"]])

      Platform  Global_Sales
0          Wii         82.53
1          NES         40.24
2          Wii         35.52
3          Wii         32.77
4           GB         31.37
5           GB         30.26
6           DS         29.80
7          Wii         28.92
8          Wii         28.32
9          NES         28.31
10          DS         24.67
11          DS         23.21
12          GB         23.10
13         Wii         22.70
14        X360         21.81
15         Wii         21.79
16         PS3         21.04
17         PS2         20.81
18        SNES         20.61
19          DS         20.15
20          DS         18.25
21          GB         18.14
22         NES         17.28
23        X360         16.27
24         PS2         16.15
25         GBA         15.85
26          DS         15.29
27          DS         15.14
28         PS2         14.98
29        X360         14.73
...        ...           ...
16689      Wii          0.01
16690      Wii          0.01
16691      PSP          0.01
16692      3DS          0.01
16693      PS2          0.01
16694       PC          0.01
16695      PS3          0.01
16696       PC          0.01
16697      N64          0.01
16698      N64          0.01
16699      GBA          0.01
16700       PC          0.01
16701       GC          0.01
16702       DS          0.01
16703      PSV          0.01
16704       DS          0.01
16705      PSP          0.01
16706       PC          0.01
16707      PSV          0.01
16708       DS          0.01
16709       PC          0.01
16710       GC          0.01
16711      PSV          0.01
16712      GBA          0.01
16713      PS2          0.01
16714      PS3          0.01
16715     X360          0.01
16716      PSV          0.01
16717      GBA          0.01
16718      PSV          0.01

[16719 rows x 2 columns]